<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/css/pintuer.css">
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/jquery.js"></script>
<script src="/js/pintuer.js"></script>
</head>
<script type="text/javascript">
  $(document).ready(function(){


    $("#userName").blur(function(){
      var name=$("#userName").val();
      var warn = document.getElementById('warn');
        $.ajax({
          url:'/admin/haveName',
          data:{adminLoginName:name},
          success:function(data){
            if(data=="null") {
              $('#warn').hide();
              $('#su').attr("disabled","disabled");
            }
            else
            if(data == "true"){
              $('#warn').show();
              warn.style.color='#f00';
              $('#warn').html("×用户名已经存在");
              $('#su').attr("disabled","disabled");
            }else{
              $('#warn').show();
              warn.style.color='#36ff25';
              $('#warn').html("√户名可以使用");
              $('#su').removeAttr("disabled");

            }
          }
        });

    });
  });

</script>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span>添加用户</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">
      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>管理员姓名：</strong></label>
        </div>
        <div class="field">
          <label style="line-height:33px;">
           [[${session.admin.adminName}]]
          </label>
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>用户账号：</strong></label>
        </div>
        <span id="warn" style="float: left;margin-top: -20px;"></span>
        <div class="field">

          <input type="text" class="input w50" id="userName" name="adminLoginName" size="50" placeholder="请输入用户账号" data-validate="required:请输入用户账号" />

        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>用户密码：</strong></label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="adminLoginPwd" size="50" placeholder="请输入用户密码" data-validate="required:请输入用户密码,length#>=6:用户密码不能小于6位" />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>确认密码：</strong></label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="renewpass" size="50" placeholder="请再次输入密码" data-validate="required:请再次输入密码,repeat#adminLoginPwd:两次输入的密码不一致" />
        </div>
      </div>

        <div class="form-group">
          <div class="label">
            <label for="sitename"><strong>用户姓名：</strong></label>
          </div>
          <div class="field">
            <input type="text" class="input w50" name="adminName" size="50" placeholder="请再次输入用户名（非必填项）"  />
          </div>
        </div>
        <div class="form-group">

        <div style="margin-left:56px">
          <label><strong>用户角色：</strong></label>
        </div>
        <div class="field" style="padding-top:8px;margin-left:80px">
        <table>
            <tr>
              <td th:each="role:${roles}">
                <span th:text="${role.roleName}"></span>
                <input name="role" th:value="${role.roleId}" type="checkbox" />
              </td>
            </tr>
          </table>

        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button id="su" class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>      
    </form>
  </div>
</div>
</body></html>