<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/css/pintuer.css">
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/jquery.js"></script>
<script src="/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 修改密码</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="/system/updUserByAdminId">
      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>管理员帐号：</strong></label>
        </div>
        <div class="field">
          <label style="line-height:33px;">
          [[ ${admin.adminLoginName}]]
            <input type="hidden"class="input w50"  th:value="${admin.adminLoginPwd}" name="oldOwnPwd"  />
          </label>
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>原始密码：</strong></label>
        </div>

        <div class="field">
          <input type="password" class="input w50" id="mpass" name="mpass" size="50" placeholder="请输入原始密码" data-validate="required:请输入原始密码,repeat#oldOwnPwd:原密码不正确" />
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>新密码：</strong></label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="adminLoginPwd" size="50" placeholder="请输入新密码" data-validate="required:请输入新密码,length#>=5:新密码不能小于5位" />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>确认新密码：</strong></label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="renewpass" size="50" placeholder="请再次输入新密码" data-validate="required:请再次输入新密码,repeat#adminLoginPwd:两次输入的密码不一致" />
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>用户姓名：</strong></label>
        </div>
        <div class="field">
          <input type="text" th:value="${admin.adminName}" class="input w50" id="adminName" name="adminName" size="50" placeholder="请再次输入用户名" readonly="readonly" required />
          <input id="ck" onclick="updateName()" style="height:40px;float:left;margin-left: 5px;" type="checkbox"  ><p style="float: left;margin-top: 7px;width: 100px;">(修改用户名)</p>
        </div>
      </div>
 <input th:value="${admin.adminId}" name="adminId" type="hidden" >
      
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>   
        </div>
      </div>      
    </form>
  </div>
</div>
<script type="text/javascript">

  function updateName (){

    if($("#ck").prop('checked')){
      document.getElementById('adminName').readOnly=false;
    }else{
      document.getElementById('adminName').readOnly=true;
    }
  }
</script>
</body></html>