<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>正在售卖的物品</title>
    <link rel="stylesheet" href="/css/pintuer.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/pintuer.js"></script>
</head>
<body>

<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-key"></span> 查看全部的物品</strong></div>
    <div class="body-content">
   <!--  [[${goodList}]]-->

        <table class="table table-hover text-center" border="1px" style="border-color: #c0e2ef;">
            <tr>
                <th width="80">序号</th>
                <th>物品类别</th>
                <th>物品名称</th>
                <th>物品数量</th>
                <th>物品图片</th>
                <th width="80px">物品描述</th>
                <th>物品价格</th>
                <th>来源</th>
               <!-- <th>物品状态</th>-->
                <th>编辑</th>
                <th>删除</th>
            </tr>
            <tr th:each="good:${goodList}">
                <td th:text="${goodStat.index+1}"><!--<input type="checkbox" name="id[]" value="1" />i--></td>
                <td th:text="${good.goodType.goodTypeName}"></td>
                <td th:text="${good.goodName}"></td>
                <td th:text="${good.goodCount}"></td>

                <td> <img th:src="${good.goodPhoto}" height="70" width="100" alt="这是略缩图..."/><!--[[${good.goodPhoto}]]--></td>

                <!-- th:text="${good.goodIntroduction}" height="80px"--><td> <textarea style="background-color: white" readonly="readonly" name="goodIntroduction" cols="40" rows="4">[[${good.goodIntroduction}]]</textarea></td>
                <td th:text="${good.goodPrice}"></td>
                <td >
                    <span th:if="${good.goodState==0}">用户发布</span>
                    <span th:if="${good.goodState==3}">官方发布</span>
                </td>
                <!--<td><a href="@{good/updGoodStateByMl(ml='userXj')}" th:if="${good.goodState==0}" >正在售卖</a>
                    <a href="@{good/updGoodStateByMl(ml='userSj')}" th:if="${good.goodState==20}" >下架调整</a>
                </td>-->
                <td >
                    <div class="button-group" th:if="${good.goodState==3}">
                        <a class="button border-green" th:href="@{/basic/toUpdGoodMessageFromUser(goodId=${good.goodId},x=${good.goodId})}">编辑</a>
                    </div>
                    <div class="button-group" th:if="${good.goodState==0}">
                        不可操作
                    </div>
                </td>
                <td >
                    <div class="button-group" th:if="${good.goodState==3}">
                        <a class="button border-red" th:href="@{/good/delGood(goodId=${good.goodId})}"><span class="icon-trash-o"></span> 删除</a>
                    </div>
                    <div class="button-group" th:if="${good.goodState==0}">
                      不可操作
                    </div>
                </td>
               </tr>

        </table>
</div>
</div>

<script type="text/javascript">
    /**
     * 显示选择上传的图片略缩图
     * 当选择了图片文件时触发这个方法
     */
    function previewFile() {
        // 通过标签选择器获取HTML元素
        var preview = document.querySelector('img');
        var file = document.querySelector('input[type=file]').files[0];
        // Js内置文件流
        var reader = new FileReader();

        // 更新img标签的src属性为图片的本地路径，就可以显示了
        reader.onloadend = function () {
            preview.src = reader.result;
        };

        // 图片文件不空就显示
        if (file) {
            reader.readAsDataURL(file);
        } else {
            // 图片文件是空的
            preview.src = "";
        }
    }

</script>
</body>
</html>