<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/css/pintuer.css">
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/jquery.js"></script>
<script src="/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 个人信息完善</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="/system/updUserMessageByUserId" enctype="multipart/form-data">
      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>用户账号：</strong></label>
        </div>
        <div class="field">
          <label style="line-height:33px;">
           [[${user.userLoginName}]]
            <input type="hidden" class="input w50"  th:value="${user.userId}" name="userId"  />
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>用户姓名：</strong></label>
        </div>
        <div class="field">
          <input style="border: none;" readonly="readonly" type="text" th:value="${user.userName}" class="input w50" size="50"   />

          <span th:if="${user.userSex==0}"><p style="margin-left:20px;float: left;margin-top: 7px;width: 100px;">性别：男</p></span>

          <span th:if="${user.userSex==1}"><p style="margin-left:20px;float: left;margin-top: 7px;width: 100px;">性别：女</p></span>

          <span th:if="${user.userSex==null}"><p style="margin-left:20px;float: left;margin-top: 7px;width: 120px;">性别：未完善此项</p></span>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>用户电话：</strong></label>
        </div>

        <div class="field">
          <input type="text" style="border: none;" readonly="readonly" th:value="${user.userTel}" class="input w50"  size="50" />
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>用户头像：</strong></label>
        </div>
        <div class="field">
         <!-- <input type="password" class="input w50" name="adminLoginPwd" size="50"  />-->
          <img id="userHid"  th:src="${user.userPhoto}" height="150" width="150" alt="这是略缩图..."/>

        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename"><strong>绑定邮箱：</strong></label>
        </div>
        <div class="field">
         <!-- <input type="password" class="input w50" name="renewpass" size="50"/>-->
          <input type="text" style="border: none;" readonly="readonly" th:value="${user.userMail}" class="input w50" size="50" />
        </div>
      </div>

      
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
       <!-- <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>-->
      </div>      
    </form>
  </div>
</div>
<script type="text/javascript">


  if([[${user.userPhoto==null}]]){
    var userHid=document.getElementById('userHid');
    userHid.src="/images/11.jpg";
  }else {
    var userHid=document.getElementById('userHid');
    userHid.src="[[${user.userPhoto}]]";
  }

</script>
</body></html>