<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>用户注册界面</title>
  <link rel="stylesheet" type="text/css" href="../res/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css">
  <script type="text/javascript" src="../res/layui/layui.js"></script>

  <script src="/js/jquery.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

<div class="site-nav-bg">
  <div class="site-nav w1200">
    <p class="sn-back-home">
      <i class="layui-icon layui-icon-home"></i>
      <a href="/basic/toTwoHandIndex">首页</a><input id="msg" type="hidden" th:value="${msg}">
    </p>
    <div class="sn-quick-menu">
      <div class="login"><a th:if="${session.user==null}" href="/basic/toUserLogin">登录</a>

        <a th:if="${session.user!=null}" title="点击去到个人中心" target="_blank" th:href="@{/goUserHome(userLoginName=${session.user.userLoginName})}" style="color: #0C0C0C;">用户：[[${session.user.userLoginName}]]</a>
        &nbsp;&nbsp&nbsp;&nbsp<a th:if="${session.user!=null}" id="zx" title="点击退出当前用户" href="/logoutUptUser">注销</a>
      </div>
      <!--<div class="sp-cart"><a href="shopcart.html">购物车</a><span>2</span></div>-->
    </div>
  </div>
</div>



<div class="header">
  <div class="headerLayout w1200">
    <div class="headerCon">
      <h1 class="mallLogo">
        <a href="#" title="校园二手物品易">
          <img src="../res/static/img/logo.png">
        </a>
      </h1>
      <div class="mallSearch">
        <form action="" class="layui-form" novalidate>
          <input type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入需要的商品">
          <button class="layui-btn" lay-submit lay-filter="formDemo">
            <i class="layui-icon layui-icon-search"></i>
          </button>
          <input type="hidden" name="" value="">
        </form>
      </div>
    </div>
  </div>
</div>


<div class="content content-nav-base  login-content">
  <div class="main-nav">
    <div class="inner-cont0">
      <div class="inner-cont1 w1200">
        <div class="inner-cont2">
          <a href="commodity.html" class="active">所有商品</a>
          <a href="buytoday.html">今日团购</a>
          <a href="information.html">母婴资讯</a>
          <a href="about.html">关于我们</a>
        </div>
      </div>
    </div>
  </div>
  <div class="login-bg">
    <div class="login-cont w1200" >
      <div class="form-box" style="height: 480px;">
        <form class="layui-form" action="/user/userRegister" method="post">
          <legend>用户注册</legend>
          <div class="layui-inline veri-code">
            <div class="layui-input-inline">
              <span id="warn"  style="position: absolute;margin-left: 260px;margin-top: -20px;width: 80px;"></span>
              <input type="text" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" id="userLoginName" name="userLoginName"  style="margin-top: -30px;"   lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
              <input type="password" id="userLoginPwd" name="userLoginPwd" style="margin-top: 15px;" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>


            <div class="layui-inline veri-code">
              <div class="layui-input-inline">
                <input  type="password" style="margin-top: 15px;" id="password" name="password" lay-verify="required" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
                <input  type="text" id="userEmail" style="margin-top: 15px;" name="userEmail" lay-verify="required" placeholder="请输入邮箱号" autocomplete="off" class="layui-input">
                <input  type="text" id="ver" name="ver" style="margin-top: 15px;" lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                <input type="button" class="layui-btn"  style="margin-top: 68px;" id="btnSend"  value="验证码" />
              </div>
            </div>
          </div>
          <div class="layui-form-item login-btn">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit="" lay-filter="demo1" id="register" >注册</button><br>
            </div>
            <input type="hidden" id="verEmail">
            <div class="layui-input-block">
              <a href="/basic/toUserLogin">返回登录</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="footer"></div>
<script type="text/javascript">
  layui.config({
    base: '../res/static/js/util' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['jquery','form'],function(){
    var $ = layui.$,form = layui.form;

    $("#btnSend").click(function() {
      var btnSend=document.getElementById("btnSend");
      btnSend.disabled=true;

      if(!/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/.test($("#userEmail").val())){
        layer.msg("请输入正确的邮箱号");
        $('#btnSend').removeAttr("disabled");
        return false;
      }
      var email=$("#userEmail").val();
      var  verEmail=document.getElementById("verEmail");
      //开始读秒
      btnSend.value='60s重新获取';
      var i=59;
      var t = setInterval(function () {
        btnSend.value=i+'s重新获取';
        i--;
        //停止
        if(i<0){
          clearInterval(t);
          btnSend.value='重新获取';
          $('#btnSend').removeAttr("disabled");
        }
      },1000);
      $.ajax({
        url:'/user/getEmailVerify',
        data:{userEmail:email},
        success:function(data){
          if(data.length>6){
            layer.msg(data);
            $('#btnSend').removeAttr("disabled");
            return false;
          }else{
            verEmail.value=data;
            // $('#btnSend').attr("disabled","disabled");
          }
        }
      });
    });
    $("#register").click(function(){
      var userLoginPwd=document.getElementById("userLoginPwd");
      var password=document.getElementById("password");
      if(userLoginPwd.value==null==password.value){

        return true;}
      if (userLoginPwd.value!=password.value) {
        layer.msg("两次输入密码不同");
        return false;
      }
      var ver=document.getElementById("ver");
      var verEmail=document.getElementById("verEmail");
      if(ver.value==null==verEmail.value){
        layer.msg("请确认验证码");

        return false;}
      if (ver.value!=verEmail.value) {
        layer.msg("验证码错误");
        return false;}
      alert("都对");
      return submit;
    })
  })
</script>
<script type="text/javascript">
  $(document).ready(function(){

    $("#userLoginName").blur(function(){
      var name=$("#userLoginName").val();
      var register = document.getElementById('register');
      var warn = document.getElementById('warn');
      $.ajax({
        url:'/user/haveUserLoginName',
        data:{userLoginName:name},
        success:function(data){
          if(data=="null") {
            $('#warn').hide();
            //$('#register').attr("disabled","disabled");
            register.style.backgroundColor='#cfb2f6';
          }
          else
          if(data == "true"){
            $('#warn').show();
            warn.style.color='#36ff25';
            warn.innerHTML='√账号可用';
            //alert("×用户名已经存在");
            $('#register').removeAttr("disabled");
            register.style.backgroundColor='#cfb2f6';
            layer.msg("√户名可以使用");
          }else{

            $('#warn').show();
            warn.style.color='#f00';
            warn.innerHTML='×账号不可用';
            register.style.backgroundColor='#dde1e6';
            $('#register').attr("disabled","disabled");
            layer.msg("×用户名已经存在");
          }
        }
      });
    });
  });
</script>
</body>
</html>